.navBg {
  background: #ffe668;
  position: relative;
}
.navText,
.navText a {
  color: black;
}
.custom-pills .nav-item a {
  border-radius: 0.25rem 0.25rem 0 0 !important ;
}
.custom-pills .nav-item a.active {
  color: #332f3a;
  border-bottom: 5px solid #332f3a !important;
  background: #fee668;
}
.graph-titles {
  background: #312f3a;
  color: #fce271;
  font-weight: normal;
}
.nav-link {
  padding: 0.5rem 2.5rem;
  font-size: smaller;
}
.text-wrapped {
  display: block;
  white-space: nowrap;
}
html,
body,
#root {
  height: 100%;
}
